<div class="grid gap-y-5 min-h-96 content-center text-center text-white bg-zinc-800 py-4 px-6 ">
    <h1 class="text-5xl sm:text-7xl font-bold">Venta de ropa</h1>
    <p class="text-zinc-500 text-xl sm:text-2xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
</div>

